Source: deepin-dummyapps
Section: editors
Priority: optional
Maintainer: Wu Haotian <wuhaotian@uniontech.com>
Standards-Version: 4.6.0.1
Build-Depends: debhelper-compat (= 12), gettext, gettext-base

Package: dummyapp-spark-deepin-wine-runner
Provides: spark-deepin-wine-runner
Conflicts: spark-deepin-wine-runner
Architecture: all
Depends: ${misc:Depends}, spark-store(>=4.3.2)
Description: spark-deepin-wine-runner dummy package that provides placeholder
 application icon that installs spark-deepin-wine-runner on demand.
